<h4>Internal Server Error - refreshing the page will make the error disappear.</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold"><b>Note: </b>If you are seeing this, then Angular is probably not to blame.</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Dev Tools! Then check the failing request in the Network tab.</li>
        <li>Examine the request URL - what API endpoint are you requesting?</li>
        <li>Reproduce the problem in Postman. If you get the same error, Angular is not the problem.</li>
    </ol>
    <p style="font-weight: bold;">Following is the stack trace of the error:</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>